@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-50: #e9f7ef;
  --brand-100: #d3f7df;
  --brand-200: #c5ebd2;
  --brand-300: #a2dabd;
  --brand-400: #7fd9a8;
  --brand-500: #5cc694;
  --brand-600: #4aa17b;
  --brand-700: #387c63;
  --brand-800: #265a4b;
  --brand-900: #13332f;
}
